body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.topnav {
  background-color: #525252;
  padding: 10px 20px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-around;
}

.topnav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 5px;
}